@media (min-width: 575px) {
  .nav-link {
    color: black;
  }
}
@media (max-width: 575px) {
  .nav-link {
    color: white;
  }
}
@media (max-width: 575px) {
  #myNavbar {
    background: black;
  }
}
