@media (min-width: 575px) {
  .nav-link {
    color: black;
  }
}
@media (max-width: 575px) {
  .nav-link {
    color: white;
  }
}
@media (min-width: 575px) {
  .navbar-brand {
    color: black;
  }
}
@media (max-width: 575px) {
  .navbar-brand {
    color: white;
  }
}
@media (max-width: 575px) {
  #myNavbar {
    background: black;
  }
}
.navbar-brand,
.nav-link {
  font-family: Poppins;
}
.navbar-brand {
  font-weight: 900;
  font-size: 1.5rem;
}
.text-primary {
  text-decoration: underline;
}
