@media (min-width: 767px) {
  .nav-link {
    color: black;
  }
}
@media (max-width: 767px) {
  .nav-link {
    color: white;
  }
}
@media (min-width: 767px) {
  .navbar-brand {
    color: black;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    color: white;
  }
}
@media (max-width: 767px) {
  #myNavbar {
    background: black;
  }
}
.navbar-brand,
.nav-link {
  font-family: Poppins;
}
.navbar-brand {
  font-weight: 900;
  font-size: 1.5rem;
}
.nav-link {
  position: relative;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0275d8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.7);
  transform: scaleX(0.7);
}
.box {
  border: 0px;
  background-color: red;
}
