@media (min-width: 767px) {
  .nav-link {
    color: black;
  }
}
@media (max-width: 767px) {
  .nav-link {
    color: white;
  }
}
@media (min-width: 767px) {
  .navbar-brand {
    color: black;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    color: white;
  }
}
@media (max-width: 767px) {
  #myNavbar {
    background: black;
  }
}
.navbar-brand,
.nav-link {
  font-family: Poppins;
}
.navbar-brand {
  font-weight: 900;
  font-size: 1.5rem;
}
.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
}
.nav-link:hover {
  color: #000;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
